<div class="header-type">
  Тренировка
</div>

<div class="header-title">
  <span class="lesson-color" [ngStyle]="lesson.getColor()"></span> <span>{{lesson.name}}</span>
</div>
<div class="header-options-wrap">
  <div class="header-option">
    <div class="header-ico">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
          <path
            d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z"
            stroke="#191919" stroke-width="2.30356" stroke-linecap="round" stroke-linejoin="round" />
          <path
            d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"
            stroke="#191919" stroke-width="2.30356" stroke-linecap="round" stroke-linejoin="round" />
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="24" height="24" fill="white" />
          </clipPath>
        </defs>
      </svg>

    </div>
    <div class="header-option-title">
      {{lesson.place}}
    </div>
  </div>
  <div class="header-option">
    <div class="header-ico">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12 21.9998C17.5228 21.9998 22 17.5226 22 11.9998C22 6.47691 17.5228 1.99976 12 1.99976C6.47715 1.99976 2 6.47691 2 11.9998C2 17.5226 6.47715 21.9998 12 21.9998Z"
          stroke="#191919" stroke-width="2.30356" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M12 5.99976V11.9998L16 13.9998" stroke="#191919" stroke-width="2.30356" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>


    </div>
    <div class="header-option-title">
      {{lesson.startTime}} - {{lesson.endTime}} | 1 час(а)
    </div>
  </div>
  <div class="header-option" *ngIf="lesson.available_slots != -1">
    <div class="header-ico">
      <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20 22.5001V20.3572C20 19.2206 19.5786 18.1305 18.8284 17.3268C18.0783 16.5231 17.0609 16.0715 16 16.0715H8C6.93913 16.0715 5.92172 16.5231 5.17157 17.3268C4.42143 18.1305 4 19.2206 4 20.3572V22.5001"
          stroke="#191919" stroke-width="2.14286" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M12 11.7858C14.2091 11.7858 16 9.867 16 7.50007C16 5.13313 14.2091 3.21436 12 3.21436C9.79086 3.21436 8 5.13313 8 7.50007C8 9.867 9.79086 11.7858 12 11.7858Z"
          stroke="#191919" stroke-width="2.14286" stroke-linecap="round" stroke-linejoin="round" />
      </svg>


    </div>
    <div class="header-option-title">
      Мест: {{lesson.available_slots}}
    </div>
  </div>
</div>

<div class="modal-trainer-wrap" (click)="openTrainerModal()"  *ngIf="lesson.coach_id != ''">
  <div class="trainer-avatar-wrap">
    <div class="trainer-avatar" [ngStyle]="lesson.coach.getAvatarStyle()"></div>
  </div>
  <div class="trainer-caprion">
    <div class="trainer-title">
      {{lesson.coach.full_name}}
    </div>
    <div class="trainer-subtitle">
      {{lesson.coach.position}}
    </div>
  </div>
  <div class="trainer-btn">
    <svg width="10" height="19" viewBox="0 0 10 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M2.05239 0.373874L9.75654 8.54505C10.0812 8.88902 10.0812 9.44472 9.75654 9.78958L2.05239 17.9608C1.58378 18.4584 0.821355 18.4584 0.351914 17.9608C-0.116694 17.4631 -0.116694 16.6555 0.351915 16.1578L6.94239 9.16687L0.351916 2.17768C-0.116693 1.67915 -0.116693 0.871507 0.351916 0.373874C0.821357 -0.123757 1.58378 -0.123757 2.05239 0.373874Z"
        fill="#B3B3B3" />
    </svg>

  </div>
</div>
<div class="lesson-detail">
  <div class="lesson-detail-title">
    О тренировке
  </div>
  <div class="lesson-detail-description">
    Практический мастер-класс ориентирован для тех, кто хочет решить проблемы живота, улучшить внешний вид, восстановить
    здоровье. Ответим на вопросы: почему бывает бесполезно качать пресс, причины дисфункций внутренних органов,
    диагностика, тесты, коррекция, техника самомассажа и упражнения.
  </div>
</div>
