.modal-wrap {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 40px;
    min-height: 420px;
    min-width: 530px;
      box-sizing: border-box;
    z-index: 100000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 540px;
    width: 520px;
    margin: auto;
    font-family: Roboto;
  }
  
  .frame-shadow {
  
    position: absolute;
    width: 100%;
    z-index: 100;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
  
  }
  
  .close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 10px;
  }
  
  .header-caption-top-title {
  
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.25px;
  
    /* SystemColors/Black/Black-100 */
  
    color: #191919;
  }
  
  .header-caption-position {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
  
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
  
    /* SystemColors/Black/Black-90 */
  
    color: #333333;
  }
  
  
  .header{
      display: flex;
  }
  .header-avatar-wrap{
      width: 102px;
      height: 102px;
  }
  
  .header-avatar-wrap .header-avatar{
      background: url("http://95.167.142.54:84/FITNESS_WORK_mobile/hs/nfc_mobile/files/107b31f6-4fad-11ea-9977-7824af35e8e3.jpg");
      width: 100%;
      height: 100%;
      background-size: cover;
      border-radius: 50%;
  
  
  }
  
  .header-caption{
      padding-left: 21px;
  }
  .header-caption-top, .header-caption-top-btn{
      display: flex;
  }
  .header-caption-top-title{
      max-width: 250px;
      margin-bottom: 10px;
  }
  
  .btn-ico{
      width: 24px;
      height: 24px;
      margin: 0 10px;
  }
  
  .header-caption-position{
      margin-bottom: 13px;
  }
  .header-caption-rating-wrap{
      display: flex;
      align-items: center;
  }
  .header-caption-rating-wrap .header-caption-rating{
      margin-right: 10px;
  }
  
  
  .modal-detaile-wrap-nav ul{
      display: flex;
      list-style: none;
      position: relative;
      border-bottom: 2px solid #E6E6E6;
      padding-left: 0;
      margin-bottom: 0;
  }
  
  .modal-detaile-wrap-nav ul li{
      text-align: center;
      width: 50%;
      flex-shrink: 0;
      font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
  /* identical to box height, or 156% */
  
  letter-spacing: 0.25px;
  
  /* SystemColors/Black/Black-60 */
  
  color: #999999;
  }
  
  .modal-detaile-wrap-nav ul li div{
      text-align: center;
      padding-bottom: 6px;
  }
  
  .modal-detaile-wrap-nav ul li:last-child{
      
      position: absolute;
      width: 50%;
      height: 4px;
      background: #7AB825;
      bottom: -3px;
      transition: .4s;
  
  }
  
  .modal-detaile-wrap-nav ul .active{
      color: #191919;
      font-weight: 500;
  }
  .modal-detail-carousel-wrap{
      
      position: relative;
      overflow: hidden;
  
  }
  .modal-detail-carousel-wrap .modal-detail-carousel{
      padding-top: 26px;
      transition: .4s;
      width: 200%;
      display: flex;
      /* position: absolute; */
  
  }
  
  .modal-detail-carousel-wrap .modal-detail-carousel>div{
      width: 50%;
      flex-shrink: 0;
  }
  
  .modal-detail-text{
      text-align: justify;
  }
  
  
  
  
  
  .blue-link{
      color: #007AFF;
      font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  }
  
  .modal-detail-services ul{
      
      list-style: none;
      padding-left: 0;
      margin-top: 0;
  }
  
  .modal-detail-services ul li{
      
      line-height: 20px;
      margin-bottom: 16px;
      font-size: 14px;
  
  }
  
  .modal-detail-services ul li .service-item{
      
      display: flex;
      justify-content: space-between;
    
      position: relative;
  
  }
  
  .modal-detail-services .preloader ul li .service-item{
      background: #ddd;
      height: 20px;
      opacity: .3;
      border-radius: 10px;
  }
  .modal-detail-services .preloader ul li .service-item::after{
      background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.3),hsla(0,0%,100%,0));
      -webkit-animation: loading 1.5s infinite;
      animation: loading 1.5s infinite;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(-100%);
      z-index: 1;
  }
  
  @-webkit-keyframes loading {
      to {
          transform: translateX(100%)
      }
  }
  
  @keyframes loading {
      to {
          transform: translateX(100%)
      }
  }










  /*lesson*/
.header-type{
    font-weight: 300;
font-size: 34px;
line-height: 40px;
/* identical to box height */

text-align: center;
letter-spacing: 0.25px;

color: #000000;
margin-bottom: 21px;
}
.header-title{
    font-weight: normal;
font-size: 28px;
line-height: 33px;
/* identical to box height */

letter-spacing: 0.5px;
margin-bottom: 21px;
/* SystemColors/Black/Black-100 */
text-align: center;
color: #191919;
display: flex;
    align-items: center;
    justify-content: center;
}

.lesson-color{
    
    margin-right: 10px;

    display: inline-block;
    margin-left: 2px;
    width: 4px;
    height: 24px;
    border-radius: 2px;
    background: #ddd;

}
  .modal-trainer-wrap{
    background: #F8F8F8;
    /* SystemColors/Black/Black-30 */
    
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(86, 86, 86, 0.1);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
}

.trainer-caprion{
    flex-grow: 1;
}
.trainer-avatar-wrap{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.trainer-caprion .trainer-title{
    font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
letter-spacing: 0.15px;

/* SystemColors/Black/Black-100 */

color: #191919;

}

.trainer-caprion .trainer-subtitle{
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    

    
    /* SystemColors/Black/Black-60 */
    
    color: #999999;
}


.lesson-detail-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    
    color: #191919;
    margin-bottom: 8px;
}


.lesson-detail-description{
    font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: justify;
letter-spacing: 0.25px;

/* SystemColors/Black/Black-90 */

color: #333333;
}

.header-options-wrap{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
}
.header-option{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-option .header-option-title{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    

    letter-spacing: 0.15px;
    
    /* SystemColors/Black/Black-100 */
    
    color: #191919;
}

.trainer-avatar{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}