<div class="widget-wrap">


  <div class="widget-frame">

    <div class="widget-trainer-row">
      <app-app-badge>

      </app-app-badge>
    </div>
    <div class="widget-trainer-row widget-row-header">
      <div class="widget-trainer-title">
        Тренерский состав
      </div>




      <div class="header-right-block">
        <div class="widget-filter-select-wrap">
          <div class="widget-filter-select">
            <span class="selected-filter">
              Подразделение
            </span>
            <span class="filter-arrow">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 7L8 11L12 7" stroke="#B3B3B3" stroke-width="1.33333" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

            </span>
          </div>
        </div>
        <div class="widget-user-wrap">
          <div class="widget-user-avatar">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="21" cy="21" r="21" fill="#E6E6E6" />
              <path
                d="M27.4621 28.2692V26.6539C27.4621 25.797 27.1218 24.9753 26.5159 24.3694C25.91 23.7635 25.0882 23.4231 24.2314 23.4231H17.7698C16.913 23.4231 16.0912 23.7635 15.4853 24.3694C14.8794 24.9753 14.5391 25.797 14.5391 26.6539V28.2692"
                stroke="#4C4C4C" stroke-width="1.61797" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M21.0023 20.1925C22.7866 20.1925 24.233 18.746 24.233 16.9617C24.233 15.1774 22.7866 13.731 21.0023 13.731C19.2179 13.731 17.7715 15.1774 17.7715 16.9617C17.7715 18.746 19.2179 20.1925 21.0023 20.1925Z"
                stroke="#4C4C4C" stroke-width="1.61797" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </div>
        </div>
      </div>
    </div>

    <div class="widget-trainer-row"  [ngSwitch]="trainers.status | async">
      <div class="widget-list-wrap"  *ngSwitchCase="Status.LOADING">

        <app-trainer *ngFor="let t of [0,1,2,3,4,5,6,7,8,9,10,11]"></app-trainer>

      </div>
      <span *ngSwitchCase="Status.ERROR">There was an error loading the user.</span>
    </div>

    <div class="widget-trainer-row">

      <div class="widget-list-wrap"  *ngIf="trainers.data | async as trainers"> 
        
        <app-trainer *ngFor="let t of trainers" [trainer] = t (click)="showModal(t)"></app-trainer>
      </div>

    </div>
  </div>
</div>