.finish-wrap{
    font-family: Roboto;
    text-align: center;
    background: #fff;
}
.finish-ico{
    width: 120px;
    height: 120px;
    background: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    margin: 72px auto 16px;
}

.finish-title{
    margin-bottom: 42px;
}

a{
    text-decoration: none;
    background: #7AB825;
    border-radius: 4px;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    /* identical to box height, or 114% */
  
    letter-spacing: 0.25px;
    border: none;
    cursor: pointer;
    /* SystemColors/White/White-100 */
    min-width: 200px;
    color: #FFFFFF;
    transition: .4s;
}