<div class="finish-wrap">
    <div class="finish-ico-wrap">  
         <div class="finish-ico">
             <svg width="42" height="31" viewBox="0 0 42 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M39.1459 3.01245L14.3144 27.8439L3.02734 16.5569" stroke="#4CD964" stroke-width="4.51482" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
         </div>
        </div>
    <div class="finish-title">
        Оплата прошла успешно
    </div>
    <a target="_parent" href="/widget/shop">На главную</a>
</div>