<div *ngIf="ms.isOpened">
    
    <div class="frame-shadow" (click)="ms.closeModal()"></div>
    <!-- <app-trainer-modal [trainer]=lesson.coach  (isClosed)="hideModal()" ></app-trainer-modal> -->
    <div class="modal-wrap" >
      <div class="modal-fs">
        <div class="close-btn" (click)="ms.closeModal()">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6L6 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
    
        </div>
    
        <div [ngSwitch]="ms.entity.type">
    
    
            <app-lesson-modal *ngSwitchCase="type.lesson"  [lesson] = ms.entity.lesson  ></app-lesson-modal>
    
            <app-trainer-modal *ngSwitchCase="type.trainer" [trainer] = ms.entity.trainer ></app-trainer-modal>
    
            <div *ngSwitchDefault>
                пусто
            </div>
        </div>
    
    
    
      </div>
    
    </div>
</div>