.modal-wrap {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 40px;
    min-height: 420px;
    min-width: 530px;
      box-sizing: border-box;
    z-index: 100000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 540px;
    width: 520px;
    margin: auto;
    font-family: Roboto;
  }
  
  .frame-shadow {
  
    position: fixed;
    width: 100%;
    z-index: 100000;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
  
  }
  
  .close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  
 
