<div class="payment-preloader">
    <div class="preloader-wrap" >
        <div class="holder">
            <div class="preloader"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          </div>
    </div>
</div>