



<div class="modal-wrap-container">
  <div class="frame-shadow" (click)="close()"></div>
  <div class="modal-wrap" >
    <div class="modal-scroll-wrap">
      <div class="modal">
       
        <div class="close-btn" (click)="close()" >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6L6 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
    
        </div>
    
    
        <router-outlet ></router-outlet>
      </div>
    </div>
  </div>
</div>