table {
  width: 100%;
}

table th {
  width: 12.5%;
}

table td:first-child,
table th:first-child {
  width: 7%;

}

table td:first-child>div {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  /* identical to box height, or 143% */

  text-align: center;
  letter-spacing: 0.25px;

  /* SystemColors/Black/Black-80 */

  color: #4C4C4C;
}

table td {
  width: 13%;
  padding: 5px;
  border-right: dashed 1px #ddd;
  vertical-align: top;
}
table tr:hover td{
    background: #f8f8f8;
}
table th>div {
  padding: 10px 0 20px;
}

.day-number {

  font-weight: 500;
  font-size: 22px;
  line-height: 26px;


  text-align: center;
  letter-spacing: 0.25px;

  color: #4C4C4C;
}

.day-week {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.25px;
  color: #4C4C4C;
}

.primery-btn {
  background: #7AB825;
  border-radius: 4px;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  /* identical to box height, or 114% */

  letter-spacing: 0.25px;

  /* SystemColors/White/White-100 */

  color: #FFFFFF;
}

.date-control-wrap {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.date-control-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  padding: 0 5px;
  letter-spacing: 0.15px;

  /* SystemColors/Black/Black-100 */

  color: #191919;
}

.date-control-btn {
  padding: 8px 5px 6px;
}

.header-left-block {
  display: flex;
  align-items: center;
}




.list>div{
  display: none;
  padding: 8px;
  text-align: left;
}

.list>div:hover{
  background: #F4F4F4;
}
.week-nav-mobile-wrap{
  display: flex;
  justify-content: center;
}
.week-nav-mobile{
  display: flex;
  flex-direction: column-reverse;
  width: 30px;
  box-sizing: border-box;
  padding: 6px;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.week-nav-mobile>div{
  font-weight: 500;
font-size: 14px;
line-height: 20px;
}
.week-nav-mobile.action{
  background: #7AB825;
  border-radius: 8px ;
  
}


.week-nav-mobile .day-week{
  color: #999999;
  margin-bottom: 8px;
}
.week-nav-mobile.action>div, .week-nav-mobile.action .day-week{
  color: #fff;
}


.widget-filter-select:hover .list>div{
display: block;
}

.overlay{
  width: 100%;
  overflow: hidden;
}
.slider-schedule{
  width: 700%;
  display: flex;
  transition: .4s;
}

.slider-schedule>div{
  width: 100%;
}
.widget-schedule-wrap{
  width: 100%;
}