<div class="widget-wrap">
  <app-lesson-modal [lesson] = "currentLesson" *ngIf="isShowModal"></app-lesson-modal>

    <div class="widget-frame">
  
      <div class="widget-trainer-row">
        <app-app-badge>
  
        </app-app-badge>
      </div>
      <div class="widget-trainer-row widget-row-header">
        <div class="header-left-block">
          <div class="primery-btn">
            Сегодня
          </div>
          <div class="date-control-wrap">
            <div class="date-control-btn date-control-prev"><svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 13L1 7L7 1" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              
              </div>
            <div class="date-control-text date-control-start-week"> 8 июня</div>
            <div class="">-</div>
            <div class="date-control-text date-control-end-week"> 14 июня</div>
            <div class="date-control-btn date-control-next"><svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 13L7 7L1 1" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              </div>
          </div>
        </div>
  
  
  
  -
        <div class="header-right-block">
          <div class="widget-filter-select-wrap">

            <div class="widget-filter-select" >
              <div class="selected">
                <span class="selected-filter">
                 {{widget.schedule.filteredTab.name}}
                </span>
                <span class="filter-arrow">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 7L8 11L12 7" stroke="#B3B3B3" stroke-width="1.33333" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
            
                </span>
              </div>
              <div class="list">
                <div *ngFor="let t of widget.tabs" (click)="filteredByTab(t)"> {{t.name}}</div>
   
              </div>
            </div> 
          </div>
       
          <div class="widget-user-wrap">
            <div class="widget-user-avatar">
              <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="21" cy="21" r="21" fill="#E6E6E6" />
                <path
                  d="M27.4621 28.2692V26.6539C27.4621 25.797 27.1218 24.9753 26.5159 24.3694C25.91 23.7635 25.0882 23.4231 24.2314 23.4231H17.7698C16.913 23.4231 16.0912 23.7635 15.4853 24.3694C14.8794 24.9753 14.5391 25.797 14.5391 26.6539V28.2692"
                  stroke="#4C4C4C" stroke-width="1.61797" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M21.0023 20.1925C22.7866 20.1925 24.233 18.746 24.233 16.9617C24.233 15.1774 22.7866 13.731 21.0023 13.731C19.2179 13.731 17.7715 15.1774 17.7715 16.9617C17.7715 18.746 19.2179 20.1925 21.0023 20.1925Z"
                  stroke="#4C4C4C" stroke-width="1.61797" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
  
            </div>
          </div>
        </div>

      
      </div>
      <div class="widget-list-wrap" style="display: none;">
            <table>
              <tr >
                <th></th>
                <th *ngFor = "let d of weekDays">
                  <div>
                    <div class="day-number">
                      {{d.number}}
                    </div>
                    <div class="day-week">
                      {{d.text}}
                    </div>
                  </div>
                </th>

              </tr>

              <ng-container *ngFor="let row of widget.schedule.matrix | keyvalue"  >
                <tr *ngIf="widget.schedule.checkTime(row.key) && widget.schedule.count(row.key) > 0">
                  <td >
                    <div>
                      <span>{{row.key}}</span>
                    </div>
                  </td>
                    <td *ngFor="let cell of row.value | keyvalue" >

                      <ng-container *ngFor="let l of cell.value">
                        <app-lesson  *ngIf="widget.schedule.filterLesson(l)" [lesson] = "l"  (click) = showLesson(l)></app-lesson>
                      </ng-container>

                    </td>
                </tr>
              </ng-container>
            </table>
      </div>
      <div class="widget-list-wrap widget-list-mobile">
        <div class="widget-schedule-wrap">
          <div >
 
            <div class="week-nav-mobile-wrap">
              <div class="week-nav-mobile" *ngFor = "let d of weekDays" [class]="{'action':d.number == '11'}">
             
                  <div class="day-number">
                    {{d.number}}
                  </div>
                  <div class="day-week">
                    П
                  </div>
            
              </div>
            </div>

          </div>

          <div class="overlay">
            <div class="slider-schedule">
              <div *ngFor = "let d of weekDays">
                <ng-container *ngFor="let row of widget.schedule.matrix | keyvalue"  >
      
      
                  
                  
                      <div *ngFor="let l of row.value[d.number]" >
      
                        
                          <app-lesson  *ngIf="widget.schedule.filterLesson(l)" [lesson] = "l"  (click) = showLesson(l)></app-lesson>
                        
      
                      </div>
                
                </ng-container>
              </div>
            </div>
          </div>
        </div>
  </div>
    </div>
  </div>