
    <div class="header">
      <div class="header-avatar-wrap">
        <div class="header-avatar" [ngStyle] = "trainer.getAvatarStyle()"></div>
      </div>
      <div class="header-caption">
        <div class="header-caption-top">
          <div class="header-caption-top-title">
            {{trainer.full_name}}
          </div>
          <div class="header-caption-top-btn">
            <div class="btn-ico"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="11.3684" stroke="#191919" stroke-width="1.26316" />
                <g clip-path="url(#clip0)">
                  <path
                    d="M18.4887 15.3734V17.2127C18.4894 17.3835 18.4544 17.5525 18.386 17.709C18.3176 17.8654 18.2173 18.0059 18.0914 18.1213C17.9656 18.2367 17.8171 18.3246 17.6553 18.3793C17.4936 18.434 17.3222 18.4543 17.1521 18.439C15.2654 18.234 13.4532 17.5893 11.8609 16.5567C10.3795 15.6153 9.12352 14.3594 8.18217 12.878C7.14599 11.2785 6.50115 9.45739 6.2999 7.56224C6.28458 7.3927 6.30473 7.22182 6.35906 7.06048C6.4134 6.89915 6.50074 6.7509 6.61551 6.62517C6.73028 6.49944 6.86998 6.39898 7.0257 6.3302C7.18143 6.26141 7.34977 6.22581 7.52 6.22565H9.35936C9.65691 6.22272 9.94537 6.32808 10.171 6.52211C10.3966 6.71613 10.544 6.98557 10.5856 7.28021C10.6632 7.86884 10.8072 8.44681 11.0148 9.00307C11.0973 9.22252 11.1151 9.46102 11.0662 9.6903C11.0173 9.91959 10.9037 10.1301 10.7389 10.2968L9.96022 11.0754C10.833 12.6104 12.104 13.8813 13.6389 14.7541L14.4176 13.9755C14.5843 13.8106 14.7947 13.697 15.024 13.6481C15.2533 13.5992 15.4918 13.6171 15.7113 13.6996C16.2675 13.9071 16.8455 14.0511 17.4341 14.1287C17.732 14.1708 18.004 14.3208 18.1984 14.5503C18.3928 14.7797 18.4962 15.0727 18.4887 15.3734Z"
                    stroke="#191919" stroke-width="1.26" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="14.7148" height="14.7148" fill="white" transform="translate(5 5)" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="btn-ico"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="11.3684" stroke="#191919" stroke-width="1.26316" />
                <path
                  d="M18.125 11.1875C18.1272 12.0124 17.9344 12.8262 17.5625 13.5625C17.1215 14.4449 16.4436 15.187 15.6047 15.7058C14.7657 16.2246 13.7989 16.4996 12.8125 16.5C11.9876 16.5022 11.1738 16.3094 10.4375 15.9375L6.875 17.125L8.0625 13.5625C7.69058 12.8262 7.49785 12.0124 7.5 11.1875C7.50038 10.2011 7.77538 9.2343 8.2942 8.39536C8.81302 7.55642 9.55516 6.8785 10.4375 6.43752C11.1738 6.0656 11.9876 5.87287 12.8125 5.87502H13.125C14.4277 5.94689 15.6582 6.49674 16.5807 7.4193C17.5033 8.34187 18.0531 9.5723 18.125 10.875V11.1875Z"
                  stroke="#191919" stroke-width="1.26" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
        </div>
        <div class="header-caption-position">
          {{trainer.position}}
   
        </div>
        <div class="header-caption-rating-wrap">
          <div class="header-caption-rating">
            <svg width="97" height="17" viewBox="0 0 97 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.49935 1.41675L10.6881 5.85091L15.5827 6.56633L12.041 10.0159L12.8769 14.8892L8.49935 12.5872L4.12185 14.8892L4.95768 10.0159L1.41602 6.56633L6.3106 5.85091L8.49935 1.41675Z" fill="#FF9500" stroke="#FF9500" stroke-width="1.67694" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M28.4993 1.41675L30.6881 5.85091L35.5827 6.56633L32.041 10.0159L32.8769 14.8892L28.4993 12.5872L24.1218 14.8892L24.9577 10.0159L21.416 6.56633L26.3106 5.85091L28.4993 1.41675Z" fill="#FF9500" stroke="#FF9500" stroke-width="1.67694" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M48.4993 1.41675L50.6881 5.85091L55.5827 6.56633L52.041 10.0159L52.8769 14.8892L48.4993 12.5872L44.1218 14.8892L44.9577 10.0159L41.416 6.56633L46.3106 5.85091L48.4993 1.41675Z" fill="#FF9500" stroke="#FF9500" stroke-width="1.67694" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M68.4993 1.41675L70.6881 5.85091L75.5827 6.56633L72.041 10.0159L72.8769 14.8892L68.4993 12.5872L64.1218 14.8892L64.9577 10.0159L61.416 6.56633L66.3106 5.85091L68.4993 1.41675Z" fill="#FF9500" stroke="#FF9500" stroke-width="1.67694" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M88.4993 1.41675L90.6881 5.85091L95.5827 6.56633L92.041 10.0159L92.8769 14.8892L88.4993 12.5872L84.1218 14.8892L84.9577 10.0159L81.416 6.56633L86.3106 5.85091L88.4993 1.41675Z" fill="#B3B3B3" stroke="#B3B3B3" stroke-width="1.67694" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              
          </div>
          <div class="header-caption-rating-btn blue-link">
            Оценить тренера
          </div>
        </div>
      </div>
    </div>
    <div class="modal-detail-wrap">
      <div class="modal-detaile-wrap-nav">
        <ul>
          <li [ngClass]="{active:carousel.state == 0}" (click) = "clickNav(0)">
            <div>Услуги</div>
          </li>
          <li (click) = "clickNav(1)">
            <div>О тренере</div>
          </li>
          <li [ngClass]="{active:carousel.state == 1}" [ngStyle] = "carousel.navStyle"></li>
        </ul>
      </div>
      <div class="modal-detail-carousel-wrap">
        <div class="modal-detail-carousel" [ngStyle] = "carousel.sliderStyle">
          <div class="modal-detail-services"  >

            <div class="preloader" [ngSwitch]="services.status | async">
  
              <span *ngSwitchCase="Status.LOADING">
                  <ul>
                    <li *ngFor="let i of [0,1,2,3,4,5]"><div class="service-item"></div> </li>
                  </ul>

              </span>
              <span *ngSwitchCase="Status.ERROR">Ошибка загрузки услуг</span>
            </div>
            <div *ngIf="services.data | async as services">

              <ul>


                <li *ngFor="let s of services">
                    <div class="service-item">
                      <div class="service-title">
                        {{s.name}}
                      </div>
                      <div class="service-btn blue-link">
                        Записаться
                      </div>
                    </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-detail-text">
            {{trainer.description}}
          </div>
        </div>
      </div>
    </div>

