.card-wrap {
  width: 350px;
  position: relative;
  color: #fff;
  margin: auto;
  cursor: pointer;
  transition: .4s;
  z-index: 10;
  font-family: Roboto;
}

.card-wrap:hover{
  z-index: 8;
  filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.4));
}

.card-info-wrap {
  position: absolute;
  left: 14px;
  top: 12px;
  width: 92%;
  z-index: 2;
}

.title {
  font-weight: 500;
  font-size: 23px;
  line-height: 26px;
  margin-bottom: 6px;
  text-align: left;
  max-height: 52px;
  overflow: hidden;
  font-family: Roboto;
}

.option {
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.option svg {
  margin-right: 3px;
}


.old-price{
  
  opacity: .7;
  font-size: 15px;
  margin-left: 12px;
  text-decoration: line-through;

}
.wrap-placeholder  .card-info-wrap{
display: none;
}
.wrap-placeholder .placeholder-text{
  
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 5px;
  background: #36bf69;
display: none!important;
}

.wrap-placeholder .placeholder-text-short{
  max-width: 42px;

  margin: unset;
  margin-right: 5px;
}
.card-overlay{
  position: relative;
  z-index: 1;
}

.card-overlay img{
  max-width: 100%;
}


.card-overlay .logo-img-fitness{
  max-width: 100px;
  position: absolute;
  right: 14px;
  bottom: 14px;
  z-index: 3;
  height: auto;
}


@media (max-width: 800px){
  .card-wrap{
    width: unset;
    max-width: 100%;
  }
}