<div class="card-wrap"  [ngClass]="{'wrap-placeholder':isPlaceHolder}">
    <div class="card-info-wrap">
        <div class="title"> <span class="placeholder-text"></span>  <span class="placeholder-text"></span> {{card.name}}</div>
        <div class="option"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.13894 2.5C7.34226 2.5 6.69643 3.14583 6.69643 3.94251V8.83929H5.72125C5.32292 8.83929 5 9.1622 5 9.56054V9.81446C5 10.2128 5.32292 10.5357 5.72125 10.5357H6.69643V12.2321H5.72125C5.32292 12.2321 5 12.5551 5 12.9534V13.2073C5 13.6057 5.32292 13.9286 5.72125 13.9286H6.69643V16.6002C6.69643 16.9985 7.01935 17.3214 7.41768 17.3214H7.6716C8.06994 17.3214 8.39286 16.9985 8.39286 16.6002V13.9286H11.9127C12.311 13.9286 12.6339 13.6057 12.6339 13.2073V12.9534C12.6339 12.5551 12.311 12.2321 11.9127 12.2321H8.39286V10.5357H11.1452C13.945 10.5357 15.431 9.22834 15.431 6.42857C15.431 3.6288 13.945 2.5 11.1452 2.5H8.13894ZM8.39286 4.19643H11.1452C13.0272 4.19643 13.7345 4.5466 13.7345 6.42857C13.7345 8.31055 13.0272 8.83929 11.1452 8.83929H8.39286V4.19643Z" fill="white"/>
            </svg> <span class="placeholder-text placeholder-text-short"></span>
             {{card.price}}  <span class="old-price" *ngIf="card.old_price!=0">{{card.old_price}}</span>  </div> 
        <div class="option"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.0981 17.1094C13.9709 17.1094 17.1103 13.9699 17.1103 10.0972C17.1103 6.22443 13.9709 3.08496 10.0981 3.08496C6.2254 3.08496 3.08594 6.22443 3.08594 10.0972C3.08594 13.9699 6.2254 17.1094 10.0981 17.1094Z" stroke="white" stroke-width="1.68293" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.0977 5.89038V10.0977L12.9025 11.5001" stroke="white" stroke-width="1.68293" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> <span class="placeholder-text placeholder-text-short" style="max-width:64px"></span>
                {{card.days_count}} дней</div>
        <div class="option"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.0066 9.39624H5.18955C4.415 9.39624 3.78711 10.0241 3.78711 10.7987V15.7072C3.78711 16.4818 4.415 17.1097 5.18955 17.1097H15.0066C15.7812 17.1097 16.4091 16.4818 16.4091 15.7072V10.7987C16.4091 10.0241 15.7812 9.39624 15.0066 9.39624Z" stroke="white" stroke-width="1.68293" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6.5918 9.39618V6.5913C6.5918 5.66143 6.96119 4.76964 7.61871 4.11212C8.27623 3.4546 9.16802 3.08521 10.0979 3.08521C11.0278 3.08521 11.9196 3.4546 12.5771 4.11212C13.2346 4.76964 13.604 5.66143 13.604 6.5913V9.39618" stroke="white" stroke-width="1.68293" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> <span class="placeholder-text placeholder-text-short"></span>
            {{card.freeze_days_count}} дней</div>
    </div>
    <div class="card-overlay">
        <img src="https://olimpia.fitnesskit-admin.ru/main/img/card.png" alt="">
         <img class="logo-img-fitness" src="https://olimpia.fitnesskit-admin.ru/main/img/logo_olimpia.png" alt="">   
            
    </div>
</div>