<div class="error-wrap">
    <div class="error-title">
        Ошибка
    </div>
    <div class="error-icon-wrap">
        <svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.9994 67.8334C54.0281 67.8334 67.8327 54.0289 67.8327 37.0001C67.8327 19.9713 54.0281 6.16675 36.9994 6.16675C19.9706 6.16675 6.16602 19.9713 6.16602 37.0001C6.16602 54.0289 19.9706 67.8334 36.9994 67.8334Z" stroke="#999999" stroke-width="5.27674" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M49.3327 49.3334C49.3327 49.3334 44.7077 43.1667 36.9993 43.1667C29.291 43.1667 24.666 49.3334 24.666 49.3334" stroke="#999999" stroke-width="5.27674" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M27.752 27.75H27.7819" stroke="#999999" stroke-width="5.27674" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M46.248 27.75H46.278" stroke="#999999" stroke-width="5.27674" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
    </div>
</div>