.error-wrap{
    padding: 24px;
}
.error-icon-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 140px;
    height: 140px;
    background: #F8F8F8;
    border-radius: 50%;
}

.error-title{

    font-weight: 300;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 32px; 
}