<div class="personal-login-page-wrap modal-page-wrap-center">
  <div class="modal-title" (click) = "changeUser()">
    Личный кабинет
  </div>

  <!-- <div class="widget-filter-select" *ngIf="clubs.data | async as clubs">
    <div class="selected">
      <span class="selected-filter">
        {{selectedClub.name}}
      </span>
      <span class="filter-arrow">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 7L8 11L12 7" stroke="#B3B3B3" stroke-width="1.33333" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
  
      </span>
    </div>
    <div class="list">
      <div *ngFor="let t of clubs" (click)="selectClub(t)"> {{t.name}} </div>
    </div>
  </div> -->

  <div class="modal-avatar-wrap">
    <div class="modal-avatar modal-empty-avatar" >  <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M43.8786 46.0577V41.7116C43.8786 39.4062 42.9628 37.1953 41.3327 35.5652C39.7026 33.9351 37.4916 33.0193 35.1863 33.0193H17.8017C15.4963 33.0193 13.2854 33.9351 11.6553 35.5652C10.0252 37.1953 9.10938 39.4062 9.10938 41.7116V46.0577" stroke="#4C4C4C" stroke-width="4.35312" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M26.5009 24.3282C31.3015 24.3282 35.1932 20.4365 35.1932 15.6359C35.1932 10.8353 31.3015 6.9436 26.5009 6.9436C21.7003 6.9436 17.8086 10.8353 17.8086 15.6359C17.8086 20.4365 21.7003 24.3282 26.5009 24.3282Z" stroke="#4C4C4C" stroke-width="4.35312" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
       </div>
    
</div>
  <div class="login-title">
    Введите ваш номер телефона
  </div>

  <div class="login-subtitle">
    Мы отправим вам код для авторизации
  </div>

  <div class="login-input-wrap">
    <div class="login-phone modal-input-wrap" [ngClass]="{'modal-input-error-wrap':isErrorPhone}">
      <input type="text" class="login-input"  [(ngModel)]="phone" #phoneTitle="ngModel"  (click) = "changePhone()" [disabled] = "isCodeSend" prefix="+7 (" mask="000) 000-00-00" placeholder="+7 (">

    </div>
    <div *ngIf="showCodeBtn">
    
        <div class="login-code modal-input-wrap" [class]="{'modal-input-error-wrap':isErrorCode}">
          <input type="text" class="login-input" placeholder="Код"  [(ngModel)]="code" #codeTitle="ngModel"   [disabled] = "isCodeSend" (input)="changeCode()">

          <div class="login-input-error" *ngIf="isErrorCode">
            Неверный код
          </div>


          <div *ngIf="timerGetCode>0" class="request-code">Запросить через 00:{{timerGetCode}} </div>
          <div *ngIf="timerGetCode < 1" class="request-code request-code-btn" (click)="getCode(phoneTitle)">Запросить
            еще раз </div>

        </div>
     
    </div>
  </div>

  <div class="agreements-wrap" *ngIf="!showCodeBtn">
    <div class="agreements-checkbox modal-checkbox"  [class]="{'modal-checkbox-action':isAgrements, 'modal-checkbox-error' : isAgrementsError}" (click) = "setAgriments()" >
      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.8836 3.96436L5.66332 10.1846L2.83594 7.35721" stroke="white" stroke-width="2.14286" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        
    </div>
    <div class="agreements-text">
      Подтверждаю согласие <a target="_blank" href="https://olimpiyasport.ru/wa-data/public/site/data/Soglasie.pdf">на обработку персональных данных</a>, <a target="_blank" href="https://olimpiyasport.ru/wa-data/public/site/data/Politika.pdf">согласие с политикой конфиденциальности</a>, с
        условиями <a target="_blank" href="https://olimpiyasport.ru/wa-data/public/site/data/Dogovor.pdf">публичной оферты</a> и <a target="_blank" href="https://olimpiyasport.ru/wa-data/public/site/data/Pravila-posescheniya.pdf">правилами посещения клуба</a>
    </div>
  </div>

  <div class="btn-wrap">
    <button (click)="getCode(phoneTitle)" *ngIf="!showCodeBtn" class="primery-btn" [disabled] = "showCodeBtn"> Получить код</button>
  
      
      <button (click)="sendCode()" *ngIf="showCodeBtn"  [disabled] = "code.length < 4 || isPreloader" class="primery-btn">Войти</button>
  


  </div>
</div>