

.login-title{
    font-weight: 500;
font-size: 18px;
line-height: 28px;
margin-bottom: 5px;
}

.login-subtitle{
    font-weight: normal;
font-size: 14px;
line-height: 20px;
margin-bottom: 18px;
}
.login-input-wrap{
}



.request-code{
    font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #999999;
}

.request-code-btn{
    color: #007AFF;
    cursor: pointer;
}

.login-input-error{
    color: #FF3B30;
    font-weight: normal;
font-size: 12px;
line-height: 16px;
max-width: 180px;
text-align: left;
margin: auto;
}


.widget-filter-select{

    position: absolute;
    left: 15px;
    top: 42px;
    border: 1px solid #E6E6E6;
    margin-right: 16px;
    box-sizing: border-box;
border-radius: 4px;
cursor: pointer;
}
.widget-filter-select .selected{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
min-width: 150px;
background: #FFFFFF;
padding: 8px;
font-weight: bold;

}

.widget-filter-select p{
    text-align: left;
}



.widget-filter-select{
   
}

.list>div{
    display: none;
    padding: 8px;
    text-align: left;
}

.list>div:hover{
    background: #F4F4F4;
}

.widget-filter-select:hover .list>div{
display: block;
}

.modal-avatar-wrap .primery-btn input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    
}