

      <app-common-modal ></app-common-modal>
    <section [ngSwitch]="widget.status | async">
        <div *ngSwitchCase="Status.LOADING">

            <app-lessons-page ></app-lessons-page>
        </div>
    </section>
    <section  *ngIf="widget.data | async as widget">

        <app-lessons-page [widget] = widget></app-lessons-page>
    </section>
    