.card-wrap{
    margin-bottom: 24px;
    width: 330px;
}

.description-wrap{
    width: 320px;
    margin: auto;
    margin-bottom: 10px;
    text-align: left;
}
.description-title{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 11px;
}

.description{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.agreements-wrap{
    width: 330px;
}
.agreements-text{
    text-align: justify!important;
}
.agreements-link{
    padding-top: 24px;

padding-bottom: 26px;
  }

.agreements-link a{
    margin-bottom: 16px;
    font-weight: normal;
font-size: 12px;
line-height: 16px;
color: #FF9500;
display: block;
}

.agreements-link a:last-child{
    margin-bottom: 0;
}

.card-payment-wrap{
    /* margin-bottom: 42px; */
}

.modal-page-wrap-frame{
    background: #fff;
    height: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    /* height: 640px; */
    width: 100%;
    /* height: 100%; */
    /* opacity: 0; */

}

.card-payment-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-payment{
    padding-right: 16px;
    flex-shrink: 0;
    padding-right: 16px;
    max-width: 420px;
}
.card-description-wrap{
    text-align: left;
    max-width: 50%;
    padding-left: 16px;
}

.card-title{
    font-weight: 500;
font-size: 36px;
line-height: 42px;  
margin-bottom: 24px;
}

.card-description-title{
    font-weight: 500;
font-size: 18px;
line-height: 28px;
}

.card-description{
    font-weight: normal;
font-size: 16px;
line-height: 24px;
}



@media (max-width: 800px){
    .card-wrap{
      width: unset;
      max-width: 100%;
    }
    .card-payment{
        padding-right: 0;
    }
    
  }


  @media (max-width: 640px){

    .card-description-wrap{
        max-width: unset;
        padding-left: 0px;
    }
    .card-title{
        font-size: 28px;
        margin-bottom: 8px;

    }
    
  }
  
@media (max-width: 500px){
    .card-payment-wrap{
        max-width: 100%;
    }
    
  }


  @media (max-width: 500px) {
    .card-payment{
        max-width: 100%;
    }
  }