<div #mainScreen>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
 
    <router-outlet></router-outlet>
    
        <router-outlet name="modal"></router-outlet>
        <!-- <iframe width="100%" height="640px" frameBorder="0"  src="http://localhost:4200/#/widget/finish"></iframe> -->
</div>