.verification-photo-wrap{
    text-align: center;
}
.verification-photo{
    background: #F8F8F8;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-size: cover;
    background-position: center;
    border: solid 1px #fff;
}

.verification-photo-error{
    border-color:  #FF3B30!important;
}
.verification-photo-btn{
    font-weight: 500;
font-size: 14px;
line-height: 16px;
    color: #007AFF;
    margin-top: 16px;
    position: relative;

}
.verification-photo-wrap{
    position: relative;
}
.verification-photo-btn input, .verification-photo-wrap input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.verification-photo-info{
    font-weight: normal;
font-size: 12px;
line-height: 16px;
color: #333333;

max-width: 230px;
margin: 8px auto 32px;
}


