<ng-template #form let-user="user" let-empty="empty" > 
    
    <div [ngClass]="{'wrap-placeholder': empty}">
        <div class="verification-photo-wrap">
            <input type="file" (change)="setPreview($event,user)">
            <span class="verification-photo"  [ngClass]="{'verification-photo-error':isError,'placeholder-background': empty}" [ngStyle]="{'background-image':'url('+user.image+')'}">
                <svg  width="51" height="51" *ngIf="user.image == '' && !empty" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M48.875 40.375C48.875 41.5022 48.4272 42.5832 47.6302 43.3802C46.8332 44.1772 45.7522 44.625 44.625 44.625H6.375C5.24783 44.625 4.16683 44.1772 3.3698 43.3802C2.57277 42.5832 2.125 41.5022 2.125 40.375V17C2.125 15.8728 2.57277 14.7918 3.3698 13.9948C4.16683 13.1978 5.24783 12.75 6.375 12.75H14.875L19.125 6.375H31.875L36.125 12.75H44.625C45.7522 12.75 46.8332 13.1978 47.6302 13.9948C48.4272 14.7918 48.875 15.8728 48.875 17V40.375Z" stroke="#B3B3B3" stroke-width="4.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M25.5 36.125C30.1944 36.125 34 32.3194 34 27.625C34 22.9306 30.1944 19.125 25.5 19.125C20.8056 19.125 17 22.9306 17 27.625C17 32.3194 20.8056 36.125 25.5 36.125Z" stroke="#B3B3B3" stroke-width="4.25" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    
            </span>
        </div>
        <div class="verification-photo-btn">
            <input type="file" (change)="setPreview($event,user)">
            Добавить фото
        </div>
        <div class="verification-photo-info modal-text-info">
            Лицо должно быть хорошо различимо и располагаться по центру
        </div>
       
        <div class="btn-wrap">
            <button  class="primery-btn" (click)="pageDocument(user)"  [disabled] = 'isPreloader || empty'>  Продолжить</button>
        </div>
    </div>

</ng-template>


<div class="personal-verify-page-wrap modal-page-wrap-center" >
    <div class="modal-title">
        Верификация
    </div>
    <div class="modal-subtitle">
        Загрузите фото для дистанционного оформления клубной карты
    </div>

      <div [ngSwitch]="userPending.status | async">
        <div  *ngSwitchCase="status.LOADING">
            <ng-container *ngTemplateOutlet = "form;context:{user:{image:''},empty:true}">    </ng-container>
        </div>
        <div  *ngSwitchCase="status.ERROR" >
           Ошибка загрузки профиля
        </div>
    </div>

      <div *ngIf="userPending.data | async as user">
     
        <ng-container *ngTemplateOutlet = "form;context:{user:user}">    </ng-container>
      </div>

    </div>
