<ng-template #form let-user="user" let-empty="empty" > 
          <div class="modal-avatar-wrap" [ngClass]="{'wrap-placeholder':empty}">
            <div class="modal-avatar" [ngClass]="{'placeholder-background': empty}" [ngStyle]="{'background-image':'url('+user.image+')'}">
              <input type="file" (change)="setPreview($event,user)" [disabled]="isPreloader || empty">
            </div>
            <div class="primery-btn" [ngClass]="{'placeholder-background':isPreloader || empty}">
                <input type="file" (change)="setPreview($event,user)" [disabled]="isPreloader || empty">
                Загрузить фото</div>
        </div>

          <div class=""  >

            <div class="modal-input-wrap"><input type="text" [(ngModel)]="user.name"  placeholder="Имя"></div>
            <div class="modal-input-wrap"><input type="text" [(ngModel)]="user.last_name" placeholder="Фамилия"></div>
            <div class="modal-input-wrap" (input)="changeEmail(user)" [ngClass]="{'modal-input-error-wrap':isErrorEmail}" ><input  type="email" [(ngModel)]="user.email" placeholder="Email">
            <div *ngIf="errorText.length>0" class="error-email">{{errorText}}</div>
            </div>
            <div class="modal-input-wrap"><input type="date" [(ngModel)]="user.birth_date"   placeholder="XX.XX.XXXX" ></div>
          
            
          </div>
        <div class="btn-wrap">
            <button  class="primery-btn" (click)="updateUserImage(user)" [ngClass]="{'placeholder-background': empty}" [disabled]="isPreloader || empty"> Продолжить</button>
        </div>
  
  </ng-template>

  <div class="modal-page-wrap-center" >
    <div class="modal-title">
        Профиль
      </div>



      <div [ngSwitch]="userPending.status | async">
        <div  *ngSwitchCase="status.LOADING">
            <ng-container *ngTemplateOutlet = "form;context:{user:{image:''},empty:true}">    </ng-container>
        </div>
        <div  *ngSwitchCase="status.ERROR" >
           Ошибка загрузки профиля
        </div>
    </div>

      <div *ngIf="userPending.data | async as user">
     
        <ng-container *ngTemplateOutlet = "form;context:{user:user}">    </ng-container>
      </div>

</div>