.modal-avatar{
    position: relative;
}
.modal-avatar input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.wrap-placeholder .modal-avatar{
    opacity: .5;
}

.error-email{
    
    font-size: 13px;
    max-width: 180px;
    margin: auto;
    color: #FF3B30;

}