.document-file-upload-wrap{
    width: 270px;
    border: dashed 2px #7ab825;
    border-radius: 5px;
    margin: 20px auto 5px;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    transition: .4s;
}

.document-file-upload-wrap-preview{
  border-style: solid;
}

.document-file-upload-wrap-error{
  border-color: #FF3B30!important;;
}

.document-file-upload{
    display: block;
    width: 100%;
    height: 100%;
    background: #E6E6E6;
    border-radius: 5px;
    padding: 18px;
    box-sizing: border-box;
}

.document-file-upload-btn{
    border: solid 1px #000;
    padding: 10px;
    max-width: 150px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 500;
    position: relative;
}.document-file-upload-btn-hide{
    opacity: 0;
}
.modal-input-wrap input{
    max-width: 270px!important;
    width: 270px!important;
}


.document-file-upload-wrap input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
svg{
    pointer-events: none;
}
.document-file-upload-passport-load-preview svg{
    opacity: 0;
}

.document-file-upload-passport-error{
  border-color: #FF3B30;
}
.pasport-msg{
    margin-bottom: 15px;
}
.passport-error{
    font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #FF3B30;
}


.passport-success{
  font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #4CD964;
}

.document-file-upload{
    transition: .4s;
    background-position: center;
    background-size: cover;
    border: solid 1px #ddd;
}

.document-file-upload-passport-load-preview .document-file-upload-btn{
    background: #fff;
  
}





  

  .btn-wrap{
    padding-top: 24px;
  }

  .document-file-upload-btn{
    pointer-events: none;
  }

  .modal-input-wrap-error input{
    border-color:  #FF3B30!important;
  }