<div class="personal-verify-page-wrap modal-page-wrap-center">
    <div class="modal-title">
        Верификация
    </div>
    <div class="modal-subtitle">
        Загрузить фото разворота паспорта для дистанционного оформления клубной карты
    </div>
    
    <div class="modal-text-info" style="max-width: 400px;">
        Скан паспорта будет отправлен в фитнес-клуб для верификации пользователя и дистанционного оформления контракта. После верификации фото паспорта будет автоматически стерто
    </div>

    <div class="document-file-upload-wrap" [ngClass]="{'document-file-upload-wrap-preview':isPassportLoadPreview,'document-file-upload-wrap-error':isPassportErrorPreview}">
        <div class="preloader-wrap" *ngIf="showPreloader">
            <div class="holder">
                <div class="preloader"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
              </div>
        </div>
        <input type="file" (change)="updateUserPassport($event)">
        <div class="document-file-upload" [ngClass]="{'document-file-upload-passport-load-preview':isPassportLoadPreview, 'document-file-upload-passport-error':isPassportError}" [ngStyle]="passportImage">
            <div class="document-file-upload-ico-wrap"   >
                <div class="document-file-upload-ico"> <svg width="192" height="73" viewBox="0 0 192 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M49.3206 52.3184V47.4017C49.3206 44.7937 48.2846 42.2926 46.4405 40.4485C44.5964 38.6044 42.0953 37.5684 39.4873 37.5684H19.8206C17.2127 37.5684 14.7115 38.6044 12.8674 40.4485C11.0233 42.2926 9.9873 44.7937 9.9873 47.4017V52.3184" stroke="#999999" stroke-width="4.91667" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M29.6536 27.735C35.0844 27.735 39.487 23.3325 39.487 17.9017C39.487 12.4709 35.0844 8.06836 29.6536 8.06836C24.2228 8.06836 19.8203 12.4709 19.8203 17.9017C19.8203 23.3325 24.2228 27.735 29.6536 27.735Z" stroke="#999999" stroke-width="4.91667" stroke-linecap="round" stroke-linejoin="round"/>
                    <rect x="71.6348" y="21.1165" width="120.269" height="5.67308" fill="#999999"/>
                    <rect x="71.6348" y="0.693359" width="120.269" height="10.2115" fill="#999999"/>
                    <rect x="71.6348" y="32.4624" width="120.269" height="5.67308" fill="#999999"/>
                    <rect x="6.96191" y="66.501" width="44.25" height="5.67308" fill="#999999"/>
                    <rect x="71.6348" y="66.501" width="120.269" height="5.67308" fill="#999999"/>
                    <rect x="71.6348" y="43.8086" width="91.9038" height="5.67308" fill="#999999"/>
                    </svg>
                    </div>
                <div class="document-file-upload-btn "  [ngClass]="{'document-file-upload-btn-hide':showPreloader || isPassportLoadPreview}">
                    
                    <span>Загрузить</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="pasport-msg">
            <div class="passport-error" *ngIf="isPassportError">Не удалось распознать</div>
            <div class="passport-success" *ngIf="isPassportSuccess">Верификация прошла успешно</div>
        </div>
        <div class="modal-input-wrap" [ngClass]="{'modal-input-wrap-error':isAddressError}">
            <input type="text" placeholder="место регистрации" [(ngModel)]="address" (input)="changeAddress()" #addressTitle="ngModel" >
        </div>
    </div>
    <div class="btn-wrap">
        <button  class="primery-btn"  (click)="sendDocument(addressTitle)" [disabled]="showPreloader || isPassportError" *ngIf="!isPassportSuccess"> Проверить</button>
        <button  class="primery-btn"  (click)="sendDocumentComplete()" *ngIf="isPassportSuccess"> Продолжить</button>
     </div>

</div>