/*placeholder*/


.placeholder-text{
    display: none;
}
.trainer-item-placeholder .text{
    display: none;
}


.trainer-item-placeholder .placeholder-background{
    background: #ddd!important;
    position: relative;
}
.trainer-item-placeholder .placeholder-text{
    height: 15px;
    border-radius: 7px;
    background: #ddd;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    position: relative;
    max-width: 100px;

    display: inline-block;
}



.trainer-item-placeholder .placeholder-text::after,.trainer-item-placeholder .placeholder-background::after{
    background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.3),hsla(0,0%,100%,0));
    -webkit-animation: loading 1.5s infinite;
    animation: loading 1.5s infinite;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 1;
}

@-webkit-keyframes loading {
    to {
        transform: translateX(100%)
    }
}

@keyframes loading {
    to {
        transform: translateX(100%)
    }
}






.widget-wrap{
    position: relative;
    padding: 24px 0;
    font-family: Roboto;
}
.widget-frame {
  font-family: Roboto;
  background: #F8F8F8;
  max-width: 1140px;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 15px;
}
