<ng-template #avatar let-user="user" let-empty="empty" let-error="error"> 
<div class="widget-user-avatar">
    <div class="widget-user-avatar-background" [ngStyle]="getBackground(user)" *ngIf="user" (click) = "modalPersonal()"></div>
    <div class="widget-user-avatar-background widget-user-avatar-background-empty" *ngIf="empty"></div>
    <div (click) = "modalAuth()">
        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg" *ngIf="error" >
          <circle cx="21" cy="21" r="21" fill="#E6E6E6" />
          <path
            d="M27.4621 28.2692V26.6539C27.4621 25.797 27.1218 24.9753 26.5159 24.3694C25.91 23.7635 25.0882 23.4231 24.2314 23.4231H17.7698C16.913 23.4231 16.0912 23.7635 15.4853 24.3694C14.8794 24.9753 14.5391 25.797 14.5391 26.6539V28.2692"
            stroke="#4C4C4C" stroke-width="1.61797" stroke-linecap="round" stroke-linejoin="round" />
          <path
            d="M21.0023 20.1925C22.7866 20.1925 24.233 18.746 24.233 16.9617C24.233 15.1774 22.7866 13.731 21.0023 13.731C19.2179 13.731 17.7715 15.1774 17.7715 16.9617C17.7715 18.746 19.2179 20.1925 21.0023 20.1925Z"
            stroke="#4C4C4C" stroke-width="1.61797" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>

  </div> 


</ng-template>

<div class="widget-user-wrap">


    

    <div class="widget-user-avatar-wrap" >
        <div [ngSwitch]="userPending.status | async">
            <div  *ngSwitchCase="status.LOADING" >
                <ng-container *ngTemplateOutlet = "avatar;context:{empty:true}">    </ng-container>
            </div>
            <div  *ngSwitchCase="status.ERROR" >
                <ng-container *ngTemplateOutlet = "avatar;context:{error:true}">    </ng-container>
            </div>
        </div>

        <div *ngIf="userPending.data | async as userPending">
            <ng-container  *ngTemplateOutlet = "avatar;context:{user:userPending}">    </ng-container>
        </div>

    </div>
</div>
