.widget-user-avatar-background{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.widget-user-avatar-background-empty{
    background-color: #ddd;
}