<div class="trainer-item-wrap" [class] = "{'trainer-item-placeholder':isPlaceHolder}">
    <div class="trainer-item">
        <div class="trainer-avatar-wrap">
            <div class="trainer-avatar placeholder-background" [ngStyle] = "trainer.getAvatarStyle()">
                
            </div>
        </div>
    
        <div class="trainer-caption">
            <p class="trainer-title">
                <span class="placeholder-text"></span>
                <span class="placeholder-text"></span> 
                <span class="text">{{trainer.full_name}}</span>
            </p>
            <p class="position">
                <span class="placeholder-text"></span> 
                <span class="text">{{trainer.position}}</span>
            </p>
            <div class="rating-wrap">
                <svg width="97" height="17" viewBox="0 0 97 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.49935 1.41675L10.6881 5.85092L15.5827 6.56633L12.041 10.0159L12.8768 14.8892L8.49935 12.5872L4.12185 14.8892L4.95768 10.0159L1.41602 6.56633L6.3106 5.85092L8.49935 1.41675Z" fill="#B3B3B3" stroke="#B3B3B3" stroke-width="1.67694" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M28.4993 1.41675L30.6881 5.85092L35.5827 6.56633L32.041 10.0159L32.8768 14.8892L28.4993 12.5872L24.1218 14.8892L24.9577 10.0159L21.416 6.56633L26.3106 5.85092L28.4993 1.41675Z" fill="#B3B3B3" stroke="#B3B3B3" stroke-width="1.67694" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M48.4993 1.41675L50.6881 5.85092L55.5827 6.56633L52.041 10.0159L52.8768 14.8892L48.4993 12.5872L44.1218 14.8892L44.9577 10.0159L41.416 6.56633L46.3106 5.85092L48.4993 1.41675Z" fill="#B3B3B3" stroke="#B3B3B3" stroke-width="1.67694" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M68.4993 1.41675L70.6881 5.85092L75.5827 6.56633L72.041 10.0159L72.8768 14.8892L68.4993 12.5872L64.1218 14.8892L64.9577 10.0159L61.416 6.56633L66.3106 5.85092L68.4993 1.41675Z" fill="#B3B3B3" stroke="#B3B3B3" stroke-width="1.67694" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M88.4993 1.41675L90.6881 5.85092L95.5827 6.56633L92.041 10.0159L92.8768 14.8892L88.4993 12.5872L84.1218 14.8892L84.9577 10.0159L81.416 6.56633L86.3106 5.85092L88.4993 1.41675Z" fill="#B3B3B3" stroke="#B3B3B3" stroke-width="1.67694" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    
            </div>
        </div>
    </div>
</div>
