.trainer-item-wrap{
    padding: 10px;
}

.trainer-item-wrap:not(.trainer-item-placeholder){
    cursor: pointer;
}
.trainer-item{
    background: #FFFFFF;
border-radius: 10px;
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
min-height: 250px;
max-width: 250px;
padding: 25px 10px;
box-sizing:border-box;
}

.trainer-avatar-wrap{
    width: 130px;
    height: 130px;
    margin: auto;
    padding-bottom: 8px;
}
.trainer-avatar{
    width: 100%;
    height: 100%;
 background-color: #ddd;

    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

/*https://24smi.org/public/media/celebrity/2017/12/19/8b88vyacw0qw-emili-ratakovski.jpg*/
.trainer-caption p {
    margin: 0;
}
.trainer-caption .trainer-title{
    font-style: normal;
font-weight: 500;
font-size: 16px;
max-width: 180px;
margin: auto;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.15px;



color: #191919;
margin-bottom: 2px;
}

.trainer-caption .position{
    font-style: normal;
font-weight: normal;
text-align: center;
font-size: 12px;
line-height: 16px;

position: relative;

text-align: center;



color: #191919;
margin-bottom: 8px;
}

.rating-wrap{
    display: flex;
    justify-content: center;
}



/*PLCAHOLDER*/
.trainer-title .placeholder-text:first-child{
    max-width: 180px;
}
.position .placeholder-text{
    max-width: 140px;
}