





.widget-wrap{
    position: relative;
    padding: 24px 0;
    font-family: Roboto;
}
.widget-frame {
  font-family: Roboto;
  background: #F8F8F8;
  max-width: 1400px;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 15px;
}


.widget-row-header {
    padding: 30px 0 40px;
    display: flex;
    justify-content: space-between;
}

.header-right-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.widget-filter-select-wrap{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow: 1;
}

.widget-filter-select{
    padding: 8px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    z-index: 10000;
    position: absolute;
    justify-content: space-between;

min-width: 180px;
background: #FFFFFF;
border: 1px solid #E6E6E6;
box-sizing: border-box;
border-radius: 4px;
}


.widget-user-wrap{
    margin-left: 37px;
}


.widget-filter-select{
    display: flex;
}






  
  .widget-trainer-title {
  
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.5px;
  
    /* SystemColors/Black/Black-100 */
  
    color: #191919;
  }
  
  
  
  .widget-list-wrap {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    min-height: 240px;
  }
  


  .widget-filter-select{

  
    border: 1px solid #E6E6E6;
    margin-right: 16px;
    box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .widget-filter-select .selected{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
  min-width: 150px;
  background: #FFFFFF;
  padding: 8px;
  font-weight: bold;
  
  }
  
  .widget-filter-select p{
    text-align: left;
  }
  
  
  
  .widget-filter-select{
   
  }