.modal-page-wrap-center{
    text-align: center;
}
.modal-title{
    font-weight: 300;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 24px;
}

.modal-subtitle{
    font-weight: normal;
font-size: 18px;
line-height: 28px;
max-width: 380px;
margin: 0 auto 15px;
}

.modal-text-info{
    font-weight: normal;
font-size: 12px;
line-height: 16px;
max-width: 400px;
margin: 8px auto;
max-width: 240px;
}


.modal-input-wrap input{
    padding: 8px;
    font-weight: normal;
font-size: 14px;
line-height: 20px;
border: 1px solid #E6E6E6;
box-sizing: border-box;
border-radius: 4px;
margin: 7px 0;
max-width: 180px;
width: 180px;
    font-family: Roboto;
}

.modal-input-error-wrap input{
    border-color:#FF3B30;
    color:#FF3B30
}
.btn-wrap{
    padding-top: 32px;
}



.primery-btn {
    background: #7AB825;
    border-radius: 4px;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    /* identical to box height, or 114% */
  
    letter-spacing: 0.25px;
    border: none;
    cursor: pointer;
    /* SystemColors/White/White-100 */
    min-width: 200px;
    color: #FFFFFF;
    transition: .4s;
  }
  .primery-btn:disabled, .disable-btn{
    background: #CCCCCC;
  }
  .modal-checkbox{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: solid 1px #999999;
    border-radius: 4px;
    margin-right: 7px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: .4s;
  }
  .modal-checkbox svg{
      display: none;
  }

  .modal-checkbox-error{
    border-color:#FF3B30;
  }

  .modal-checkbox-action{
        background: #7AB825;
        border-color: #7AB825;
  }
  .modal-checkbox-action svg{
      display: block;
  }
.modal-avatar-wrap{
    padding-bottom: 24px;
}
.modal-avatar-wrap .primery-btn{
    max-width: 150px;
    margin: -12px auto 0;
    min-width: 150px;
    position: relative;
}
.modal-avatar-wrap .primery-btn input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    
}
  .modal-avatar{
      margin: auto;
      width: 110px;
      height: 110px;
      display: block;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
  }

  .modal-empty-avatar{
      background-color:#E6E6E6 ;
      align-items: center;
      justify-content: center;
      display: flex;
  }

  .agreements-wrap{
    max-width: 350px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 24px auto 0;
}


.agreements-text{
    font-weight: normal;
font-size: 10px;
line-height: 12px;
width: 290px;
text-align: left;
}

.agreements-text a {
    color: #007AFF;
}


@media (max-width: 800px){

  }




  
.holder {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
  }
  
  .preloader {
    /* size */
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: rotatePreloader 2s infinite ease-in;
  }
  
  @keyframes rotatePreloader {
    0% {
      transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
    }
  }
  .preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: #7ab825;
    transform: translateX(-50%);
    border-radius: 50%;
  }
  
  .preloader div:nth-child(1) {
    transform: rotateZ(0deg);
    animation: rotateCircle1 2s infinite linear;
    z-index: 9;
  }
  
  @keyframes rotateCircle1 {
    0% {
      opacity: 0;
    }
    0% {
      opacity: 1;
      transform: rotateZ(36deg);
    }
    7% {
      transform: rotateZ(0deg);
    }
    57% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .preloader div:nth-child(2) {
    transform: rotateZ(36deg);
    animation: rotateCircle2 2s infinite linear;
    z-index: 8;
  }
  
  @keyframes rotateCircle2 {
    5% {
      opacity: 0;
    }
    5.0001% {
      opacity: 1;
      transform: rotateZ(0deg);
    }
    12% {
      transform: rotateZ(-36deg);
    }
    62% {
      transform: rotateZ(-36deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .preloader div:nth-child(3) {
    transform: rotateZ(72deg);
    animation: rotateCircle3 2s infinite linear;
    z-index: 7;
  }
  
  @keyframes rotateCircle3 {
    10% {
      opacity: 0;
    }
    10.0002% {
      opacity: 1;
      transform: rotateZ(-36deg);
    }
    17% {
      transform: rotateZ(-72deg);
    }
    67% {
      transform: rotateZ(-72deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .preloader div:nth-child(4) {
    transform: rotateZ(108deg);
    animation: rotateCircle4 2s infinite linear;
    z-index: 6;
  }
  
  @keyframes rotateCircle4 {
    15% {
      opacity: 0;
    }
    15.0003% {
      opacity: 1;
      transform: rotateZ(-72deg);
    }
    22% {
      transform: rotateZ(-108deg);
    }
    72% {
      transform: rotateZ(-108deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .preloader div:nth-child(5) {
    transform: rotateZ(144deg);
    animation: rotateCircle5 2s infinite linear;
    z-index: 5;
  }
  
  @keyframes rotateCircle5 {
    20% {
      opacity: 0;
    }
    20.0004% {
      opacity: 1;
      transform: rotateZ(-108deg);
    }
    27% {
      transform: rotateZ(-144deg);
    }
    77% {
      transform: rotateZ(-144deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .preloader div:nth-child(6) {
    transform: rotateZ(180deg);
    animation: rotateCircle6 2s infinite linear;
    z-index: 4;
  }
  
  @keyframes rotateCircle6 {
    25% {
      opacity: 0;
    }
    25.0005% {
      opacity: 1;
      transform: rotateZ(-144deg);
    }
    32% {
      transform: rotateZ(-180deg);
    }
    82% {
      transform: rotateZ(-180deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .preloader div:nth-child(7) {
    transform: rotateZ(216deg);
    animation: rotateCircle7 2s infinite linear;
    z-index: 3;
  }
  
  @keyframes rotateCircle7 {
    30% {
      opacity: 0;
    }
    30.0006% {
      opacity: 1;
      transform: rotateZ(-180deg);
    }
    37% {
      transform: rotateZ(-216deg);
    }
    87% {
      transform: rotateZ(-216deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .preloader div:nth-child(8) {
    transform: rotateZ(252deg);
    animation: rotateCircle8 2s infinite linear;
    z-index: 2;
  }
  
  @keyframes rotateCircle8 {
    35% {
      opacity: 0;
    }
    35.0007% {
      opacity: 1;
      transform: rotateZ(-216deg);
    }
    42% {
      transform: rotateZ(-252deg);
    }
    92% {
      transform: rotateZ(-252deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .preloader div:nth-child(9) {
    transform: rotateZ(288deg);
    animation: rotateCircle9 2s infinite linear;
    z-index: 1;
  }
  
  @keyframes rotateCircle9 {
    40% {
      opacity: 0;
    }
    40.0008% {
      opacity: 1;
      transform: rotateZ(-252deg);
    }
    47% {
      transform: rotateZ(-288deg);
    }
    97% {
      transform: rotateZ(-288deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }
  .preloader div:nth-child(10) {
    transform: rotateZ(324deg);
    animation: rotateCircle10 2s infinite linear;
    z-index: 0;
  }
  
  @keyframes rotateCircle10 {
    45% {
      opacity: 0;
    }
    45.0009% {
      opacity: 1;
      transform: rotateZ(-288deg);
    }
    52% {
      transform: rotateZ(-324deg);
    }
    102% {
      transform: rotateZ(-324deg);
    }
    100% {
      transform: rotateZ(-324deg);
      opacity: 1;
    }
  }