/* You can add global styles to this file, and also import other style files */
body{
    background: #fff;
    margin: 0;
}










/*placeholder*/


.placeholder-text{
    display: none;
}
.trainer-item-placeholder .text{
    display: none;
}


.trainer-item-placeholder .placeholder-background, .wrap-placeholder .placeholder-background{
    background: #ddd!important;
    position: relative;
}
.trainer-item-placeholder .placeholder-text, .wrap-placeholder .placeholder-text{
    height: 15px;
    border-radius: 7px;
    background: #ddd;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    position: relative;
    max-width: 100px;

    display: inline-block;
}



.trainer-item-placeholder .placeholder-text::after,.trainer-item-placeholder .placeholder-background::after, .wrap-placeholder .placeholder-text::after, .wrap-placeholder .placeholder-background::after{
    background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.3),hsla(0,0%,100%,0));
    -webkit-animation: loading 1.5s infinite;
    animation: loading 1.5s infinite;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 1;
}

@-webkit-keyframes loading {
    to {
        transform: translateX(100%)
    }
}

@keyframes loading {
    to {
        transform: translateX(100%)
    }
}


.card-description a{
    display: block;
    color: #007aff;
}