<div class="widget-wrap">
    <div class="widget-frame">
<div class="title">Выбери свою карту</div>


  
      <div class="widget-trainer-row"  [ngSwitch]="cards.status | async">
        <div class="widget-list-wrap"  *ngSwitchCase="Status.LOADING">
          <div class="widget-list-item" *ngFor="let t of [0,1,2]">
            <app-card ></app-card>
          </div>
         
  
        </div>
        <div class="widget-list-wrap" *ngSwitchCase="Status.ERROR">
          <div class="error-item">
            <app-error></app-error>
          </div>

        </div>
      </div>
  
      <div class="widget-trainer-row">
  
        <div class="widget-list-wrap"  *ngIf="cards.data | async as cards"> 
          
          <div class="widget-list-item"  *ngFor="let t of cards">
              <app-card [card] = t (click)="showModal(t)"></app-card>
          </div>
        </div>
  
      </div>
    </div>
  </div>