.widget-frame {
  font-family: Roboto;
  padding: 62px;
}

.widget-wrap {
  background: #3C4A53;
}

.title {
  margin-bottom: 42px;
  /* font-weight: 300; */
  font-size: 50px;
  text-align: center;
  line-height: 60px;
  color: #FFFFFF;
}

.widget-list-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 800px;
  max-width: 100%;
  margin: auto;
}

.widget-list-item {
  margin: 15px;
}

@media (max-width: 800px){
  .widget-list-wrap{
    width: unset;
    max-width: 100%;
  }
  .widget-frame {
    padding: 12px;
  }

  .title{
    font-size: 32px;
  }
}