.lesson-wrap{
    background: #FFFFFF;
/* SystemColors/Black/Black-30 */

border: 1px solid #E6E6E6;
box-sizing: border-box;
border-radius: 5px;
padding: 10px;
position: relative;
overflow: hidden;
margin-bottom: 5px;
}
.lesson-color{
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: #9086FF;
}
.lesson-wrap .ico{
    width: 10px;
 max-height: 100%;
}
.lesson-title{
    font-style: normal;
font-weight: 500;
font-size: 14px;
padding-right: 17px;
box-sizing: border-box;
margin-bottom: 5px;
line-height: 20px;
/* identical to box height, or 143% */


/* SystemColors/Black/Black-100 */

color: #191919;
}

.lesson-time{
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
margin-bottom: 4px;
/* identical to box height, or 160% */


/* SystemColors/Black/Black-80 */

color: #4C4C4C;
}

.regular-text{
    font-weight: normal;
font-size: 10px;
margin-bottom: 4px;
line-height: 16px;
/* identical to box height, or 160% */

display: flex;
align-items: center;
letter-spacing: 0.02em;

/* SystemColors/Black/Black-90 */

color: #333333;
}
.lesson-ico{
    position: absolute;
    right: 5px;
    top: 10px;
}
.lesson-appoiment{

    top: 8px;
}

.lesson-count{
    font-size: 12px;
    top: 32px;
    background: rgba(234, 140, 9, 0.2);
border-radius: 2px;
color: #E28B11;
padding: 2px;
}

.lesson-payment{
    top: 53px;
}

.lesson-place{
    align-items: flex-start;
    margin-right: 12px;
}

.lesson-place .ico{
    margin-top: 2px;
    margin-right: 2px;
}