<div class="lesson-wrap">
  <div class="lesson-title">
    {{lesson.name}}
  </div>
  <div class="lesson-time">
    {{lesson.startTime}} - {{lesson.endTime}}
  </div>
  <div class="lesson-place regular-text">
    <div class="ico"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M8.75 4.16663C8.75 7.08329 5 9.58329 5 9.58329C5 9.58329 1.25 7.08329 1.25 4.16663C1.25 3.17206 1.64509 2.21824 2.34835 1.51498C3.05161 0.811714 4.00544 0.416626 5 0.416626C5.99456 0.416626 6.94839 0.811714 7.65165 1.51498C8.35491 2.21824 8.75 3.17206 8.75 4.16663Z"
          stroke="#333333" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M5 5.41663C5.69036 5.41663 6.25 4.85698 6.25 4.16663C6.25 3.47627 5.69036 2.91663 5 2.91663C4.30964 2.91663 3.75 3.47627 3.75 4.16663C3.75 4.85698 4.30964 5.41663 5 5.41663Z"
          stroke="#333333" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div> {{lesson.place}}
  </div>
  <div class="lesson-trainer regular-text" *ngIf="lesson.coach_id != ''">
    <div class="ico">
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M8.33464 8.75V7.91667C8.33464 7.47464 8.15904 7.05072 7.84648 6.73816C7.53392 6.4256 7.11 6.25 6.66797 6.25H3.33464C2.89261 6.25 2.46868 6.4256 2.15612 6.73816C1.84356 7.05072 1.66797 7.47464 1.66797 7.91667V8.75"
          stroke="#333333" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M4.9987 4.58333C5.91917 4.58333 6.66536 3.83714 6.66536 2.91667C6.66536 1.99619 5.91917 1.25 4.9987 1.25C4.07822 1.25 3.33203 1.99619 3.33203 2.91667C3.33203 3.83714 4.07822 4.58333 4.9987 4.58333Z"
          stroke="#333333" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round" />
      </svg>

    </div> {{lesson.coach.last_name}} {{lesson.coach.name}}
  </div>
  <span class="lesson-color" [ngStyle]="lesson.getColor()"></span>
  <span class="lesson-ico lesson-count" *ngIf="lesson.available_slots != -1">Мест: {{lesson.available_slots}}</span>
  <span class=" lesson-ico lesson-appoiment" *ngIf="lesson.client_recorded">
    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.00131 0.666748C7.35313 0.666748 5.74196 1.15549 4.37155 2.07117C3.00114 2.98685 1.93304 4.28834 1.30231 5.81105C0.671579 7.33377 0.506552 9.00933 0.828095 10.6258C1.14964 12.2423 1.94331 13.7272 3.10875 14.8926C4.27419 16.0581 5.75905 16.8517 7.37555 17.1733C8.99206 17.4948 10.6676 17.3298 12.1903 16.6991C13.7131 16.0683 15.0145 15.0002 15.9302 13.6298C16.8459 12.2594 17.3346 10.6483 17.3346 9.00008C17.3321 6.79072 16.4533 4.67257 14.8911 3.11032C13.3288 1.54806 11.2107 0.669276 9.00131 0.666748ZM13.3405 7.01115L8.18422 12.1674C8.10686 12.2448 8.01501 12.3062 7.91392 12.3481C7.81282 12.39 7.70446 12.4115 7.59503 12.4115C7.4856 12.4115 7.37724 12.39 7.27615 12.3481C7.17505 12.3062 7.0832 12.2448 7.00584 12.1674L4.66214 9.82365C4.5075 9.66706 4.42109 9.45564 4.42178 9.23556C4.42246 9.01548 4.51019 8.80461 4.66581 8.64899C4.82143 8.49336 5.03229 8.40562 5.25237 8.40493C5.47245 8.40423 5.68387 8.49063 5.84047 8.64526L7.59503 10.3998L12.1621 5.83276C12.3187 5.67813 12.5302 5.59173 12.7502 5.59243C12.9703 5.59312 13.1812 5.68086 13.3368 5.83649C13.4924 5.99211 13.5801 6.20298 13.5808 6.42306C13.5815 6.64314 13.4951 6.85455 13.3405 7.01115Z" fill="#4CD964"/>
        </svg>
        
  </span>
  <span class="lesson-ico lesson-payment" *ngIf="lesson.commercial">
    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.0013 17.3334C13.6037 17.3334 17.3346 13.6025 17.3346 9.00008C17.3346 4.39771 13.6037 0.666748 9.0013 0.666748C4.39893 0.666748 0.667969 4.39771 0.667969 9.00008C0.667969 13.6025 4.39893 17.3334 9.0013 17.3334ZM12.3352 7.68288C12.3352 9.07401 11.3019 10.0417 9.82413 10.0417H8.21302V10.5626H11.0158C11.1308 10.5626 11.2241 10.65 11.2241 10.7579V11.4089C11.2241 11.5168 11.1308 11.6042 11.0158 11.6042H8.21302V12.4506C8.21302 12.5585 8.11973 12.6459 8.00468 12.6459H6.98802C6.87296 12.6459 6.77968 12.5585 6.77968 12.4506V11.6042H5.8769C5.76185 11.6042 5.66857 11.5168 5.66857 11.4089V10.7579C5.66857 10.65 5.76185 10.5626 5.8769 10.5626H6.77968V10.0417H5.8769C5.76185 10.0417 5.66857 9.9543 5.66857 9.84644V9.10802C5.66857 9.00016 5.76185 8.91271 5.8769 8.91271H6.77968V5.54956C6.77968 5.4417 6.87296 5.35425 6.98802 5.35425H9.82413C11.3019 5.35425 12.3352 6.29175 12.3352 7.68288ZM9.57968 6.47319H8.21302V8.91271H9.55746C10.3908 8.91271 10.8797 8.42884 10.8797 7.68288C10.8797 6.94699 10.3908 6.47319 9.57968 6.47319Z" fill="#333333"/>
        </svg>
        
  </span>
</div>